[Unit]
Description=PixelFlutClient
After=Floud Pixels

[Service]
PIDFile=/run/pixflut.pid
WorkingDirectory=/opt/pixelflut
User=pixelflut
Group=pixelflut
ExecStart=/opt/pixelflut/pxf {{ pxf_parameters }}
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target